.logo {
  position: absolute;
  width: 150px;
  height: 200px;
  border-radius: 50px; /* Радиус скругления */
  border: 3px solid black; /* Параметры рамки */
  box-shadow: 0 0 7px #666; /* Параметры тени */
}

.name {
  margin-left: 180px;
}
